<!DOCTYPE html>
<html lang="en" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<th:block th:fragment="admin_left_side">
    <div class="leftside-menu">
        <div class="h-100" id="leftside-menu-container" data-simplebar="">
            <!--- Sidemenu -->
            <ul class="side-nav">
                <li class="side-nav-item">
                    <a data-bs-toggle="collapse" href="#sidebarEcommerce" aria-expanded="false" aria-controls="sidebarEcommerce" class="side-nav-link">
                        <i class="uil-store"></i>
                        <span> Ecommerce </span>
                        <span class="menu-arrow"></span>
                    </a>
                    <div class="collapse" id="sidebarEcommerce">
                        <ul class="side-nav-second-level">
                            <li>
                                <a sec:authorize="hasAuthority('ADMIN')" th:href="@{/product}">Manage Products</a>
                            </li>
                            <li>
                                <a sec:authorize="hasAuthority('ADMIN')" th:href="@{/product}">Products Details</a>
                            </li>
                            <li>
                                <a sec:authorize="hasAuthority('ADMIN')"  th:href="@{/admin/order}">Manage Orders</a>
                            </li>
                            <li>
                                <a sec:authorize="hasAuthority('ADMIN')" th:href="@{/admin/admin_customers}">Manage Users</a>
                            </li>
                            <li>
                                <a th:href="@{/shop}">Shopping</a>
                            </li>
                            <li>
                                <a sec:authorize="hasAuthority('ADMIN')" th:href="@{/categories}">Manage Category</a>
                            </li>
                            <li>
                                <a sec:authorize="hasAuthority('ADMIN')" th:href="@{/manage-blogs}">Manage Blogs</a>
                            </li>
                            <li>
                                <a sec:authorize="hasAuthority('ADMIN')" th:href="@{/feedback}">Manage Feedbacks</a>
                            </li>
                            <li>
                                <a th:href="@{/checkout2}">Checkout</a>
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>
            <!-- End Sidebar -->

            <div class="clearfix"></div>

        </div>
        <!-- Sidebar -left -->

    </div>
</th:block>
</body>
</html>