<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <th:block th:fragment="meta_head">

        <!-- Css Styles -->
        <meta charset="UTF-8">
        <meta name="description" content="Male_Fashion Template">
        <meta name="keywords" content="Male_Fashion, unica, creative, html">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Male-Fashion | Template</title>

        <!-- Google Font -->
        <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700;800;900&display=swap"
              rel="stylesheet">
        <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" type="text/css">
        <link rel="stylesheet" th:href="@{/css/font-awesome.min.css}" type="text/css">
        <link rel="stylesheet" th:href="@{/css/elegant-icons.css}" type="text/css">
        <link rel="stylesheet" th:href="@{/css/magnific-popup.css}" type="text/css">
        <link rel="stylesheet" th:href="@{/css/nice-select.css}" type="text/css">
        <link rel="stylesheet" th:href="@{/css/owl.carousel.min.css}" type="text/css">
        <link rel="stylesheet" th:href="@{/css/slicknav.min.css}" type="text/css">
        <link rel="stylesheet" th:href="@{/css/style.css}" type="text/css">
        <style>
            @media screen and (min-width: 676px) {
                .modal-dialog {
                    max-width: 1200px; /* New width for default modal */
                }
            }
        </style>
    </th:block>

</head>
<body>

</body>
</html>