<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Manage Users</title>
  <link rel="stylesheet" th:href="@{/richtext/richtext.min.css}">
  <link rel="stylesheet" th:href="@{https://netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css}">
  <th:block th:replace="fragments/meta_head :: meta_head"></th:block>
</head>
<body>
<div class="container-fluid text-center">
  <!-- Offcanvas Menu Begin -->
  <!-- Offcanvas Menu End -->

  <!-- Header Section Begin -->
  <div th:include="fragments/header:: header"></div>
  <!-- Header Section End -->
  <div><h2>Create new Blog</h2></div>

  <form th:action="@{/blogs/save}" th:object="${blog}" method="post" enctype="multipart/form-data" style="max-width: 600px;margin : 0 auto;">
    <input type="hidden" th:field="*{id}" />
    <div class="m-3">
      <div class="form-group row">
        <label class="col-form-label col-sm-4">Title</label>
        <div class="col-sm-8">
          <input type="text" th:field="*{title}" class="form-control" required/>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-form-label col-sm-4">Creater: </label>
        <div class="col-sm-8">
          <select th:field="*{user}" class="form-control" required>
            <th:block th:each="userX : ${listUsers}">
              <option th:text="${userX.last_name}" th:value="${userX.id}"/>
            </th:block>
          </select>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-form-label col-sm-4">Category: </label>
        <div class="col-sm-8">
          <select th:field="*{category}" class="form-control" required>
            <th:block th:each="cat : ${listCategories}">
              <option th:text="${cat.value}" th:value="${cat.id}"/>
            </th:block>
          </select>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-4 col-form-label">Blog Status:</label>
        <div class="col-sm-8">
          <select name="status" th:field="*{blogStatus}">
            <option th:each="status : ${T(com.SE1614.Group6.Model.Blog_status).values()}"
                    th:value="${status}" th:text="${status}"></option>
          </select>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-form-label col-sm-4">Update Date</label>
        <div class="col-sm-8">
          <input type="date" th:field="*{updateDate}" class="form-control" required/>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-form-label col-sm-4">Views</label>
        <div class="col-sm-8">
          <input type="number" th:field="*{views}" class="form-control" required/>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-4 col-form-label">Avatar:</label>
        <div class="col-sm-8">
          <input id="fileImage" name = "fileImage" type="file"  class="form-control" placeholder="Enter photo" accept="image/png, image/jpeg"  required/>
          <img th:src="*{image_Link}" style="max-height: 100px;" id="thumbnail" alt="avatar preview"/>
        </div>
      </div>

      <label class="col-sm-4 col-form-label">Content:</label>
      <textarea class="content" th:field="*{content}" name="example"></textarea>


      <div class="text-center">
        <button type="submit" class="btn btn-primary m-2" onclick="return VerifyUploadSizeIsOK()">Save</button>
        <button type="button" class="btn btn-secondary m-2" onclick="cancelForm()">Cancel</button>
      </div>
    </div>
  </form>
</div>
<script type= "text/javascript">
  function cancelForm(){
    window.location="[[@{/manage-blogs}]]"
  }

</script>
<script th:src="@{/assets/js/vendor.min.js}"></script>
<script th:src="@{/assets/js/app.min.js}"></script>

<!-- third party js -->
<script th:src="@{/assets/js/vendor/jquery.dataTables.min.js}"></script>
<script th:src="@{/assets/js/vendor/dataTables.bootstrap5.js}"></script>
<script th:src="@{/assets/js/vendor/dataTables.responsive.min.js}"></script>
<script th:src="@{/assets/js/vendor/responsive.bootstrap5.min.js}"></script>
<script th:src="@{/assets/js/vendor/dataTables.checkboxes.min.js}"></script>
<script th:src="@{/assets/js/pages/demo.customers.js}"></script>
<script type="text/javascript">
  $(document).ready(function (){
    $('#fileImage').change(function (){
      ShowImageThumbnail(this);
    });
    $('.content').richText();
  });
  function ShowImageThumbnail(fileInput){
    file = fileInput.files[0];
    reader = new FileReader();
    reader.onload = function (e){
      $('#thumbnail').attr("src", e.target.result);
    };
    reader.readAsDataURL(file);
  }


</script>
<script type="text/javascript">
  function VerifyUploadSizeIsOK()
  {
    /* Attached file size check. Will Bontrager Software LLC, https://www.willmaster.com */
    var UploadFieldID = "fileImage";
    var MaxSizeInBytes = 1048576;
    var fld = document.getElementById(UploadFieldID);
    if( fld.files && fld.files.length == 1 && fld.files[0].size > MaxSizeInBytes )
    {
      alert("The file size must be no more than " + parseInt(MaxSizeInBytes/1024/1024) + "MB");
      return false;
    }
    return true;
  } // function VerifyUploadSizeIsOK()
</script>
<script th:src="@{/richtext/jquery.richtext.min.js}"></script>
</body>
</html>