<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>[[${pageTitle}]]</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
          crossorigin="anonymous">
    <link th:href="@{/assets/css/vendor/dataTables.bootstrap5.css}" rel="stylesheet" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <link th:href="@{/assets/css/vendor/responsive.bootstrap5.css}" rel="stylesheet" type="text/css">
    <!-- third party css end -->

    <!-- App css -->
    <link th:href="@{/assets/css/icons.min.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/assets/css/app.min.css}"  rel="stylesheet" type="text/css" id="light-style">
    <link th:href="@{/assets/css/app-dark.min.css}"  rel="stylesheet" type="text/css" id="dark-style">
</head>
<body>
<div class="container-fluid">
    <div class="text-center"><h2>[[${pageTitle}]]</h2></div>
    <form th:action="@{/admin/admin_customers/save}" method="post" th:object="${customer}" enctype="multipart/form-data" style="margin: 0 auto;max-width: 500px;">
        <input type="hidden" th:field="*{id}"/>
        <div class="border border-secondary rounded p-3">
            <div class="form-group row">
                <label class="col-sm-4 col-form-label">First Name:</label>
                <div class="col-sm-8">
                    <input type="text" th:field="*{first_name}" class="form-control" required maxlength="45" minlength="8"/>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-4 col-form-label">Last Name:</label>
                <div class="col-sm-8">
                    <input type="text" th:field="*{last_name}" class="form-control" required maxlength="45" minlength="8"/>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-4 col-form-label">Password:</label>
                <div class="col-sm-8">
                    <input type="password" th:field="*{password}" class="form-control" th:value="${password}"/>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-4 col-form-label">Email:</label>
                <div class="col-sm-8">
                    <input type="email" th:field="*{email}" class="form-control" required maxlength="45" minlength="8"/>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-4 col-form-label">Phone:</label>
                <div class="col-sm-8">
                    <input type="text" th:field="*{phone}" class="form-control" required/>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-4 col-form-label">Address:</label>
                <div class="col-sm-8">
                    <input type="text" th:field="*{address}" class="form-control" required/>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-4 col-form-label">Avatar:</label>
                <div class="col-sm-8">
                    <input id="fileImage" name = "fileImage" type="file"  class="form-control" placeholder="Enter photo" accept="image/png, image/jpeg"  required/>
                    <img th:src="*{getPhotosImagePath}" style="max-height: 200px;" id="thumbnail" alt="avatar preview"/>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-4 col-form-label">Gender:</label>
                <div class="col-sm-8">
                    <select name="role" th:field="*{gender}">
                        <option th:each="gender : ${T(com.SE1614.Group6.Model.Gender).values()}"
                                th:value="${gender}" th:text="${gender}"></option>
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-4 col-form-label">Role:</label>
                <div class="col-sm-8">
                    <select name="role" th:field="*{role}">
                        <option th:each="role : ${T(com.SE1614.Group6.Model.Role).values()}"
                                th:value="${role}" th:text="${role}"></option>
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-4 col-form-label">User Status:</label>
                <div class="col-sm-8">
                    <select name="status" th:field="*{user_status}">
                        <option th:each="status : ${T(com.SE1614.Group6.Model.User_status).values()}"
                                th:value="${status}" th:text="${status}"></option>
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-4 col-form-label">Locked</label>
                <div class="col-sm-8">
                    <input type="checkbox" th:field="*{locked}" />
<!--                    <div>-->
<!--                        <input type="checkbox"  id="switch7"  checked data-switch="success"/>-->
<!--                        <label for="switch7" data-on-label="Yes" data-off-label="No" class="mb-0 d-block"></label>-->
<!--                    </div>-->
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-4 col-form-label">Enabled</label>
                <div class="col-sm-8">
                    <input type="checkbox" th:field="*{enabled}" />
<!--                    <div>-->
<!--                        <input type="checkbox" th:field="*{enabled}" id="switch20"  checked data-switch="success"/>-->
<!--                        <label for="switch20" data-on-label="Yes" data-off-label="No" class="mb-0 d-block"></label>-->
<!--                    </div>-->
                </div>
            </div>
            <div class="text-center">
                <button type="submit" class="btn btn-primary m-2" onclick="return VerifyUploadSizeIsOK()">Save</button>
                <button type="button" class="btn btn-secondary m-2" onclick="cancelForm()">Cancel</button>
            </div>
        </div>
    </form>
</div>
<script type= "text/javascript">
    function cancelForm(){
        window.location="[[@{/admin/admin_customers}]]"
    }
</script>

<script th:src="@{/assets/js/vendor.min.js}"></script>
<script th:src="@{/assets/js/app.min.js}"></script>

<!-- third party js -->
<script th:src="@{/assets/js/vendor/jquery.dataTables.min.js}"></script>
<script th:src="@{/assets/js/vendor/dataTables.bootstrap5.js}"></script>
<script th:src="@{/assets/js/vendor/dataTables.responsive.min.js}"></script>
<script th:src="@{/assets/js/vendor/responsive.bootstrap5.min.js}"></script>
<script th:src="@{/assets/js/vendor/dataTables.checkboxes.min.js}"></script>
<!-- third party js ends -->

<!-- demo app -->
<script th:src="@{/assets/js/pages/demo.customers.js}"></script>

<script type="text/javascript">
$(document).ready(function (){
    $('#fileImage').change(function (){
        ShowImageThumbnail(this);
    });
});
    function ShowImageThumbnail(fileInput){
        file = fileInput.files[0];
        reader = new FileReader();
        reader.onload = function (e){
            $('#thumbnail').attr("src", e.target.result);
        };
        reader.readAsDataURL(file);
    }


</script>
<script type="text/javascript">
    function VerifyUploadSizeIsOK()
    {
        /* Attached file size check. Will Bontrager Software LLC, https://www.willmaster.com */
        var UploadFieldID = "fileImage";
        var MaxSizeInBytes = 1048576;
        var fld = document.getElementById(UploadFieldID);
        if( fld.files && fld.files.length == 1 && fld.files[0].size > MaxSizeInBytes )
        {
            alert("The file size must be no more than " + parseInt(MaxSizeInBytes/1024/1024) + "MB");
            return false;
        }
        return true;
    } // function VerifyUploadSizeIsOK()
</script>
</body>
</html>