<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Recover Password</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta content="A fully featured admin theme which can be used to build CRM, CMS, etc." name="description" />
        <meta content="Coderthemes" name="author" />
        <!-- App favicon -->

        <!-- App css -->
        <link th:href="@{assets/css/icons.min.css}" rel="stylesheet" type="text/css">
        <link th:href="@{assets/css/app.min.css}"  rel="stylesheet" type="text/css" id="light-style">
        <link th:href="@{assets/css/app-dark.min.css}"  rel="stylesheet" type="text/css" id="dark-style">

    </head>

    <body class="loading authentication-bg" data-layout-config='{"leftSideBarTheme":"dark","layoutBoxed":false, "leftSidebarCondensed":false, "leftSidebarScrollable":false,"darkMode":false, "showRightSidebarOnStart": true}'>

        <div class="account-pages pt-2 pt-sm-5 pb-4 pb-sm-5">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-xxl-4 col-lg-5">
                        <div class="card">
                            
                            <div class="card-body p-4">
                                
                                <div class="text-center w-75 m-auto">
                                    <h4 class="text-dark-50 text-center mt-0 fw-bold">Reset Your Password</h4>
                                    <div th:if="${message}">
                                        <p class="text-warning">[[${message}]]</p>
                                    </div>
                                </div>

                                <form th:action="@{/reset_password}" method="post">
                                <input type="hidden" name="token" th:value="${token}"/>
                                    <div class="mb-3">
                                        <label for="NewPass" class="form-label">New Password</label>
                                        <input autofocus class="form-control" name="password"  type="password" id="NewPass" required placeholder="Enter your new password">
                                    </div>

                                    <div class="mb-3">
                                        <label for="ConfirmPass" class="form-label">Comfirm password</label>
                                        <input autofocus class="form-control" type="password" id="ConfirmPass" required placeholder="Comfirm your new password"
                                        oninput="checkPasswordMatch(this)">
                                    </div>

                                    <div class="mb-0 text-center">
                                        <button class="btn btn-primary" type="submit">Change Password</button>
                                    </div>
                                </form>
                            </div> <!-- end card-body-->
                        </div>
                        <!-- end card -->

                        <div class="row mt-3">
                            <div class="col-12 text-center">
                                <p class="text-muted">Back to <a th:href="@{login}" class="text-muted ms-1"><b>Log In</b></a></p>
                            </div> <!-- end col -->
                        </div>
                        <!-- end row -->

                    </div> <!-- end col -->
                </div>
                <!-- end row -->
            </div>
            <!-- end container -->
        </div>
        <!-- end page -->

        <footer class="footer footer-alt">
            
        </footer>

        <!-- bundle -->
        <script src="assets/js/vendor.min.js"></script>
        <script src="assets/js/app.min.js"></script>
    <script type="text/javascript">
        function checkPasswordMatch(fieldConfirmPassword){
            if (fieldConfirmPassword.value != $("#NewPass").val()){
                fieldConfirmPassword.setCustomValidity("Password do not match!");
            }else{
                fieldConfirmPassword.setCustomValidity("");

            }
        }
    </script>
        
    </body>
</html>
