<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Manage orders</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" type="text/css">
    <th:block th:replace="fragments/meta_head :: meta_head"></th:block>
</head>
<body>
<div class="container-fluid text-center">
    <div th:include="fragments/header:: header"></div>
    <div><h2>Manage Orders</h2></div>
    <div class="mr-2">
    </div>
    <div th:if="${message}" class="alert alert-success text-center">
        [[${message}]]
    </div>

    <div>
        <table class="table table-bordered">
            <thead class="thead-dark">
            <tr>
                <th>Order_Date</th>
                <th>Recipient's name</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Address</th>
                <th>Total</th>
                <th>Notes</th>
                <th>Status</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <th:block th:each="order : ${listOrder}">
                <tr>
                    <td>[[${order.order_date}]]</td>
                    <td>[[${order.first_name} + ' ' + ${order.last_name}]]</td>
                    <td>[[${order.email}]]</td>
                    <td>[[${order.phone}]]</td>
                    <td>[[${order.address}]]</td>
                    <td>[[${order.total_price}]]</td>
                    <td>[[${order.notes}]]</td>
                        <td>
                    <th:block th:if="${order.order_status==status.get(4)}">
                        <a class="btn btn-success" th:href="@{'/admin/order/confirm/' + ${order.id}}">Confirm</a>
                        <a class="btn btn-danger" th:href="@{'/admin/order/cancel/' + ${order.id}}">Cancel</a>
                    </th:block>
                            <th:block th:if="${order.order_status==status.get(2)}">
                               <span style="color: green">Đã xác nhận</span>
                            </th:block>
                            <th:block th:if="${order.order_status==status.get(3)}">
                                <span style="color: red">Đã hủy</span>
                            </th:block>

                    </td>
                    <td>
                        <a class="h4 mr-3" th:href="@{'/admin/order/orderdetail/' + ${order.id}}">
                            <button type="button" class="btn btn-primary">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pen" viewBox="0 0 16 16">
                                    <path d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001zm-.644.766a.5.5 0 0 0-.707 0L1.95 11.756l-.764 3.057 3.057-.764L14.44 3.854a.5.5 0 0 0 0-.708l-1.585-1.585z"></path>
                                </svg>
                                Detail
                            </button>
                        </a>
                    </td>
                </tr>
                </th:block>


            </tbody>
        </table>
    </div>
</div>
</body>
</html>