<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Manage Products</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" type="text/css">
    <th:block th:replace="fragments/meta_head :: meta_head"></th:block>
</head>
<body>
<div class="container-fluid text-center">
    <div th:include="fragments/header:: header"></div>
    <div><h2>Manage Users</h2></div>
    <div class="mr-2">
        <a class="h3" th:href="@{/product/new}">Add New Product</a>
    </div>
    <div th:if="${message}" class="alert alert-success text-center">
        [[${message}]]
    </div>
    <div>
        <table class="table table-bordered">
            <thead class="thead-dark">
            <tr>
                <th>Id</th>
                <th>Product Detail</th>
                <th>Detail</th>
                <th>Image</th>
                <th>Name</th>
                <th>Original Price</th>
                <th>Quantity</th>
                <th>Sale Price</th>
                <th>Title</th>
                <th>Update Date</th>
                <th>Category Id</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <th:block th:each="product : ${listProduct}">
                <tr>
                    <td>[[${product.id}]]</td>
                    <td>[[${product.product_detail}]]</td>
                    <td>[[${product.detail}]]</td>
                    <!--<td>[[${product.images}]]</td>-->
                    <td><img th:src="${product.images}"></td>
                    <td>[[${product.name}]]</td>
                    <td>[[${product.original_price}]]</td>
                    <td>[[${product.quantity}]]</td>
                    <td>[[${product.sale_price}]]</td>
                    <td>[[${product.title}]]</td>
                    <td>[[${product.update_date}]]</td>
                    <td>[[${product.Category.value}]]</td>
                    <td>
                        <a class="h4 mr-3" th:href="@{'/product/edit/' + ${product.id}}">
                            <button type="button" class="btn btn-primary">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                                    <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"></path>
                                    <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"></path>
                                </svg>
                                Edit
                            </button>
                        </a>
                        <a class="h4" th:href="@{'/product/delete/' + ${product.id}}">
                            <button type="button" class="btn btn-outline-danger">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                                    <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"></path>
                                    <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"></path>
                                </svg>
                                Delete
                            </button>
                        </a>
                    </td>
                </tr>
                </th:block>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>